<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
   <add key="Sloader.SloaderConfigFilePath" value="Sloader.yml"/>
    <!--<add key="Sloader.SloaderConfigFilePath" value="https://raw.githubusercontent.com/Code-Inside/KnowYourStack/master/_data/NuGet.Sloader.yml"/>-->
    <add key="Sloader.SecretTwitterConsumerKey" value=""/>
    <add key="Sloader.SecretTwitterConsumerSecret" value=""/>
    <add key="Sloader.SecretGitHubAccessToken" value=""/>
  </appSettings>
</configuration>
